/**************************  GENERAL  **************************/

a {
	text-decoration: none;
}

body {
	margin: 0;
}

h3 {
	text-align: center;
	margin: 0;
}

/**************************  HEADER  **************************/

#logo {
	text-align: center;
}

.main-header {
	background-color: #004d91; 
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	height: 100px;
	top: 0;
}

h1 {
	color: #ffffff;
	margin: 0;
	padding: 0;
	font-size: 2.2em;
}


/**************************  NAV  **************************/

nav {	
	text-align: center;
	margin: 0;
	background-color: #f0f0f0;
}

nav a {
	color: #004d91;
	padding: 0 10px;
	margin: 0;
}

nav a:hover {
	color: #27583F;
}

nav a.selected {
	color: #27583F;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
}

/**************************  BANNER  **************************/

.banner {
	text-align: center;
	margin-top: 100px;
	min-height: calc(100vh - 190px);
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: scroll;
}


/**************************  ABOUT  **************************/

.sezione_about {
	height: calc(100vh - 190px);
	max-width: 100vw;
	padding-top: 100px;
	margin-top: -100px;
	position: relative;
	z-index: -1;
	background-color: #0066cc;
	}

.contenitore_about {
	
}

.foto-profilo {
	display: block;	
	max-height: 30vw;
	margin: 0 auto 0 auto;
	border-radius: 100%;
}

.contenitore_about p {
	text-align: justify;
	margin: 0 5%;
}

#about {
	
}

/**************************  CONTACT  **************************/

.sezione_contact {
	height: calc(100vh - 100px);
	max-width: 100vw;
	background-color: white;
	margin-bottom: -90px;
}

.contenitore_contact {
	margin: 0 5%;
}

.fa-ul li a {
	color: #000000;
}


/**************************  FOOTER  **************************/

.sezione_footer {
	text-align: center;
	min-height: 90px;
	background-color: #004d91;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.contenitore_footer {
	padding-top: 15px;

}

.contenitore_footer a {
	color: #f0f0f0;
	font-size: 30px;
}

.sezione_footer p {
	font-size: 0.85em;
	font-weight: bold;
	margin: 0;
	padding-top: 11px;
}