* {
	font-family: 'Caveat', cursive;
}

body {
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.name {
		text-align: center;
		font-size: 10vw;
		color: black;
		margin-top: auto;
		margin-bottom: auto;
}

.subtitle {
		text-align: center;
		font-size: 10vw;
		color: black;
		margin-top: auto;
		margin-bottom: auto;
}

.social-icons {
	text-align: center;
	font-size: 10vw;
	margin-top: auto;
	margin-bottom: auto;
}
a {
	color: black;
}
a:hover {
	color: #a52a2a;
}

footer {
	text-align: center;
	color: black;
	font-size: 1.2em
}

	
