#sfondo {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url(img/bg.jpg) no-repeat right top;
			position: fixed;
			z-index: -1;
			background-size: cover;
}

.saluto {
			text-align: center;
			font-size: 5vw;
			color: black;
			margin-top: auto;
			margin-bottom: auto;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
   			top: 0;
}

.nome {
			font-family: 'Caveat', cursive;
			text-align: center;
			font-size: 10vw;
			color: #EEEDEA;
			margin-top: auto;
			margin-bottom: auto;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
}

.sottotitolo {
			text-align: center;
			font-size: 10vw;
			color: green;
			margin-top: auto;
			margin-bottom: auto;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 21%;
}

.prova {
			text-align: center;
			font-size: 4vw;
			margin-top: auto;
			margin-bottom: auto;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: 41%;
}

.icone {
			text-align: center;
			font-size: 9vw;
			margin-top: auto;
			margin-bottom: auto;
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top:48%;
}

/*
a {
	        color: green;
}

a:hover {
	        color: white;
}
*/


footer {
			width: 100%;
			text-align: center;
			color: white;
			font-size: 4vw;
			margin-top: auto;
			margin-bottom: auto;
			position: fixed;
   			left: 0;
   			bottom: 0;
}
	
/* @media only screen and (orientation: portrait) {
} */

/* COMMENTO */