* {
	font-family: 'Caveat', cursive;
}

body {
	width: 100%;
	margin: 0px;
	background-image: url(img/bg.jpg);
	background-repeat: repeat-y no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}



/*---------- SCHERMI PC ---------------*/

@media screen and (min-width: 1001px) {
	.card {
		margin-left: 25%;
		margin-top: 2%;
		padding: 0px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 50%;
		border-radius: 5px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
	}
	img {
		border: 20px solid white;
		border-radius: 50%;
		margin-top: 8%;
		margin-bottom: -15% !important;
		width: 30%;
	}
	.name {
		text-align: center;
		font-size: 5.7em;
		color: gainsboro;
		margin-top: 15%;
		margin-bottom: auto;
		text-transform: capitalize;
	}
	.subtitle {
		text-align: center;
		font-size: 1.5em;
		color: darkgray;
	}
	.social-icons {
		text-align: center;
		font-size: 3em;
	}
	a {
		color: yellow;
	}
	a:hover {
		color: #a52a2a;
	}
}

@media (min-width: 100px) and (max-width: 728px) and (orientation:portrait) {
	body {
		width: 100%;
		margin: 0px;
		background: url(img/bg.jpg) fixed no;
		overflow-x: hidden;
	}
	.card {
		margin-top: 10%;
		margin-left: 2%;
		margin-right: 0px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 95%;
		border-radius: 5px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
	}
	img {
		border: 15px solid white;
		margin-bottom: -20% !important;
		border-radius: 50%;
		width: 33%;
	}
	.name {
		padding-right: 4px;
		padding-left: 4px;
		text-align: center;
		font-size: 2.5em;
		color: gainsboro;
		margin-top: 16%;
		margin-bottom: auto;
		text-transform: capitalize;
	}
	.subtitle {
		text-align: center;
		font-size: 1.2em;
		color: darkgray;
	}
	.social-icons {
		text-align: center;
		font-size: 1.5em;
		color: gainsboro;
	}
}

@media (min-width: 100px) and (max-width: 728px) and (orientation:landscape) {
	body {
		width: 100%;
		margin: 0px;
		background: url(img/bg.jpg) fixed no;
		overflow-x: hidden;
	}
	.card {
		margin-top: 6%;
		margin-left: 9%;
		margin-right: 0px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 80%;
		border-radius: 5px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
	}
	img {
		border: 15px solid white;
		margin-bottom: -15% !important;
		border-radius: 50%;
		width: 25%;
	}
	.name {
		padding-right: 4px;
		padding-left: 4px;
		text-align: center;
		font-size: 2.8em;
		color: gainsboro;
		margin-top: 16%;
		margin-bottom: auto;
		text-transform: capitalize;
	}
	.subtitle {
		text-align: center;
		font-size: 1.9em;
		color: darkgray;
	}
	.social-icons {
		text-align: center;
		font-size: 1.5em;
		color: yellow;
	}
}

@media only screen and (min-width: 728px) and (max-width: 1000px) {
	body {
		width: 100%;
		margin: 0px;
		background: url(img/bg.jpg) fixed no;
		overflow-x: hidden;
	}
	.card {
		margin-top: 4%;
		margin-left: 13%;
		align-content: center;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		transition: 0.3s;
		width: 75%;
		border-radius: 5px;
	}
	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
	}
	img {
		border: 15px solid white;
		margin-bottom: -18% !important;
		border-radius: 50%;
		width: 30%;
	}
	.name {
		text-align: center;
		font-size: 2.5em;
		color: gainsboro;
		margin-top: 16%;
		margin-bottom: auto;
		text-transform: capitalize;
	}
	.subtitle {
		text-align: center;
		font-size: 2em;
		color: darkgray;
	}
	.social-icons {
		text-align: center;
		font-size: 1.5em;
		color: yellow;
	}
	
}


/*---------- Responsive Grid Ends ---------------*/


/*---------- ICONS ---------------*/


/*---------- ICONS ENDS---------------*/

footer {
	text-align: center;
	color: black;
	font-size: 1.2em
}
