#sfondo {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url(img/bg.jpg) no-repeat right top;
			position: fixed;
			z-index: -1;
			background-size: cover;
}

* {
	        font-family: 'Caveat', cursive;
}

.name {
			text-align: center;
			font-size: 10vw;
			color: black;
			margin-top: auto;
			margin-bottom: auto;
}

.subtitle {
			text-align: center;
			font-size: 10vw;
			color: black;
			margin-top: auto;
			margin-bottom: auto;
			text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.social-icons {
			text-align: center;
			font-size: 9vw;
			margin-top: auto;
			margin-bottom: auto;
}

a {
	        color: black;
}

a:hover {
	        color: white;
}

footer {
			position:fixed;
			bottom: 5%;
			width: 100%;
			text-align: center;
			color: white;
			font-size: 4vw;
			margin-top: auto;
			margin-bottom: auto;
			text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

/* COMMENTO */
	
@media only screen and (orientation: portrait) {
	.name {
			text-align: center;
			font-size: 10vw;
			color: white;
			margin-top: auto;
			margin-bottom: auto;
}

@media only screen and (orientation: landscape) {
	.name {
			text-align: center;
			font-size: 10vw;
			color: yellow;
			margin-top: auto;
			margin-bottom: auto;
}