#sfondo {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url(img/bg.jpg) no-repeat center top;
			position: fixed;
			z-index: -1;
			background-size: cover;
}

* {
	        font-family: 'Caveat', cursive;
}

.name {
			text-align: center;
			font-size: 10vw;
			color: black;
			margin-top: auto;
			margin-bottom: auto;
}

.subtitle {
			text-align: center;
			font-size: 10vw;
			color: black;
			margin-top: auto;
			margin-bottom: auto;
}

.social-icons {
			text-align: center;
			font-size: 10vw;
			margin-top: auto;
			margin-bottom: auto;
}

a {
	        color: black;
}

a:hover {
	        color: #a52a2a;
}

footer {
			text-align: center;
			color: black;
			font-size: 1.2em
}

/* COMMENTO */
	
